.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding: 20px;
}

.tabs-container {
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;

}

@media print {
  body * {
    visibility: hidden; /* Hide everything else */
  }
  .printable-section, .printable-section * {
    visibility: visible; /* Show only the printable section */
  }
  .printable-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 6in; /* Set width to match receipt size */
    height: 6in; /* Set height to match receipt size */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in width and height */
  }
}
